<div class="title">
  Swagdoku
</div>

<div class="grid-area">
  <div class="grid">
    <div class="row" *ngFor="let row of board; index as i">
      <div
        *ngFor="
          let number of row;
          index as j;
          trackBy: disableChangeDetectionTrackBy
        "
        class="cell row-{{ i }} col-{{ j }}"
        [attr.data-row]="i"
        [attr.data-col]="j"
        tabindex="0"
        (keypress)="handleKeyPress($event)"
        (keydown)="handleKeyDown($event)"
      >
        <span class="value">{{ number || "&nbsp;" }}</span>
        <span class="pencil-marks hidden">
          <span
            *ngFor="let digit of digits"
            class="hidden pencil-mark pencil-mark-{{ digit }}"
            >{{ digit }}</span
          >
        </span>
      </div>
    </div>
  </div>
</div>

<div class="settings-section">
  <div class="settings-group" *ngFor="let group of settingsGroups">
    <div class="settings-group-title">
      {{ group.name }}
    </div>
    <div>
      <ul>
        <li *ngFor="let setting of group.settings">
          <label class="setting-label">
            <input
              class="setting-checkbox"
              type="checkbox"
              [(checked)]="setting.isEnabled"
              (change)="handleSettingChange(setting.id)"
            />
            <span class="setting-label-text">
              {{ setting.label }}
            </span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
