:host {
  --fast-timing-curve: cubic-bezier(0.4, 0, 0.2, 1);

  --grid-color: #222;
  --cell-color: white;
  --given-cell-color: #eee;
  --text-color: black;
  --highlighted-value-text-color: white;
  --highlighted-value-background-color: orange;
  --highlighted-pencil-mark-background-color: orange;
  --highlighted-pencil-mark-text-color: white;
}

.title {
  padding: 4px;
  text-align: center;
}

.digit-controls {
  margin-top: 24px;
}

.digit-control {
  width: 48px;
  height: 48px;
  margin: 1px;
  border: 0;
  border-radius: 24px;
}

.digit-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px orange, 0 1px 3px rgba(0, 0, 0, 0.41);
  z-index: 1;
}

.grid-area {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.grid {
  background-color: var(--grid-color);
  padding: 8px;
  display: inline-block;
}

.cell {
  position: relative;
  font-family: "Consolas", monospace;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  overflow: hidden;

  background-color: var(--cell-color);
  color: transparent;
  text-shadow: 0 0 0 var(--text-color);

  border: none;

  text-align: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;

  z-index: 0;
}

.value {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value.highlight {
  border-radius: 20px;
  color: var(--highlighted-value-text-color);
  background-color: var(--highlighted-value-background-color);
}

.given {
  background-color: var(--given-cell-color);
}

.pencil-marks.hidden,
.value.hidden {
  display: none;
}

.pencil-marks {
  display: block;
  width: 48px;
  font-size: 11px;
}

.pencil-mark {
  display: flex;
  align-items: center;
}

.pencil-mark.highlighted {
  background-color: var(--highlighted-pencil-mark-background-color);
  color: var(--highlighted-pencil-mark-text-color);
  border-radius: 8px;
}

.cell:not(:last-child) {
  margin-right: 1px;
}

.row {
  display: flex;
  height: 48px;
}

.row:not(:last-child) {
  margin-bottom: 1px;
}

.cell:nth-child(3),
.cell:nth-child(6) {
  margin-right: 2px;
}

.row:nth-child(3),
.row:nth-child(6) {
  margin-bottom: 2px;
}

.cell:focus {
  transform: scale(1.1);

  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.41), 0 0 0 3px orange;
  outline: none;
  z-index: 1;

  transition: all 120ms var(--fast-timing-curve);
}

.pencil-mark {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.hidden {
  opacity: 0;
}

.settings-section {
  padding: 8px;
}

.setting-label {
  height: 44px;
  display: flex;
  align-items: center;
}

.setting-label-text {
  margin-left: 8px;
}

.subgrid {
  display: grid;
}

.subgrid-cell {
  width: 16px;
  height: 16px;
}
